@model IEnumerable<ExaP9.Models.Telefono>

@{
    ViewBag.Title = "Index";
}
<center>
    <h2>Dispositivos Registrados</h2>
</center>
<p>
     <a class="btn btn-danger" href="http://localhost:60497"> << </a>
</p>
<table class="table">
    <tr class="titulos">
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gama1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion1.Pais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color1.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gama1.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion1.Pais)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Idtelefono },new { @class = "btn btn-success" }) |
         
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Idtelefono }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
