@{
    ViewBag.Title = "Contact";
}
@model IEnumerable<ExaP9.Models.Telefono>

@{
    ViewBag.Title = "";
}
<center>
    <h2>Dispositivos Registrados</h2>
</center>
<p>
    <a class="btn btn-danger" href="http://localhost:60497"> << </a>
</p>
<table class="table">
    <tr class="titulos">
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gama1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion1.Pais)
        </th>
        <th></th>
    </tr>
    </table>

